PORT=5000
MONGO_URI=mongodb://ma
JWT_SECRET=canteen_super_secret_key_change_this_in_production
JWT_EXPIRE=7d
NODE_ENV=development

# Email Config (Gmail - enable App Passwords in Google Account)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
